/*CSS DOCUMENT*/

/* General style ************************************************** */
/*body {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	width: 960px;
	background: #fff;
	margin: 100px auto;
	color: #777;
}
a {	
	color: #fff;
	text-shadow: 1px 1px 0px #002e5a;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;	
	font-family: Tahoma,sans-serif;
	font-size:	8.5pt;	
	color: #ffffff;
}
*/
#nav a {	
	color: #fff;
	text-shadow: 1px 1px 0px #055b81;
}

/* Menu style ************************************************** */
/*#nav {
	margin: 0;
	padding: 0 10px;
	line-height: 100%;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #002e5a;
	background: #518CA7;
	background: -webkit-gradient(linear, left top, left bottom, from(#004990), to(#002e5a));
	background: -moz-linear-gradient(top,  #004990, #002e5a);
    margin:			0;
	padding:		0;
	list-style:		none;
    font-family:    Tahoma;	
	font-size:		8.5pt;
	}*/

#nav {
	margin: 0;
	padding: 0;
	width: 950px;
	list-style:	none;
    font-family: Tahoma;
    font-size:		9pt;
    position:relative;
    z-index:100;
}
	
#nav li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style: none;
}
#nav a {
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding:  7px 10px;
	margin: 0;
	/*border-right: 1px solid  #055b81;
	border-left: 1px solid  #93b8c9;*/
}
#nav li.first {
	/*border-left: 1px solid  #055b81;
}
#nav li.last {
	border-right: 1px solid  #93b8c9;*/
}

.top 
{
    text-transform:uppercase;
}

#nav a:hover {
	background: #000;
	color: #fff;
}
#nav .current a, #nav li:hover > a {
	background: #93b8c9;
}
#nav ul li:hover a, #nav li:hover li a {
	border-left: 1px solid  #055b81;
	border-right: 1px solid  #055b81;
}
#nav li:hover > .main-col {
	display: block;
}
#nav .col > ul {
	padding: 0;
	margin: 0;
}
#nav .main-col {
	border-left: 1px solid #055B81;
	border-bottom: 1px solid #055B81;
}

#nav .col {
	width: 250px;
	height: 100%;
	float: left;
	border-left:1px solid #93B8C9;
	border-right:1px solid #055B81;
}

#nav li .main-col .col ul li a {
	border: none;
}

.col h2 {
	color: #2E3192;
	padding: 20px 12px;
	margin: 0;
	/*text-shadow: 1px 1px 0px #ffffff;*/
	font-family:Arial;
	font-size: 15px;
	font-weight:bold;
}

#nav .col h2 a {
	color: #2E3192;
	padding: 0;
	text-shadow: none;
	text-decoration:none;
	
	
}

#nav .col h2 a:hover 
{
    background:#fff;
}

/* Sub Menu style ************************************************** */
#nav .main-col {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	left: -1px;
	background-color: #eff3f7;
	color: #004990;
	background: url(/images/navbg.gif) repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#93b8c9), to(#055b81));
	background: -moz-linear-gradient(top,  #93b8c9, #055b81);
	z-index: 200;
}
#nav .one-cols {
	width: 252px;
}
#nav .two-cols {
	width: 505px;
}
#nav .three-cols {
	width: 756px;
}
#nav .four-cols {
	/*width: 728px;*/
	width: 1008px;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
	
}
#nav ul ul {
	left: 179px;
	top: -1px;
}
/* Some Fix ************************************************** */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}